body.modal-open{
    overflow: hidden;
    position: absolute;
}


// NAV
nav {
    display: none;
    background-color: #27272aec;
    backdrop-filter: blur(3px);
    transform: translateY(-130%);
    transition: 0.4s all ease-in-out;
    opacity: 0;

    a {
        margin: 1vh 0;

        &:hover {
            font-weight: 600;
        }
    }
}

.nav-anim {
    display: flex;
    transform: translateY(0);
    opacity: 100%;
}


// FORM
.form-menu{
    div{
        display: flex;
        flex-direction: column;

        label{
            font-size: 24px;
        }

        input,  textarea{
            border: 1px solid #171717;
            background-color: #f5f5f5;
            margin: 1vh 0;
            font-size: 20px;
            padding: 2px 3px;
            &:focus{
                outline: none;
                background-color: white;
            }
        }
        textarea{
            height: 20vh;
        }
        select{
            text-transform: capitalize;
            font-size: 20px;
        }
    }
}

.form-accounts{
    div{
        margin: 2vh 0;
        display: flex;
        justify-content: space-between;
        input{
            padding: 0.175rem;
            border: 1px solid #171717;
            background-color: #f5f5f5;
            &:focus{
                border-radius: 0;
                outline: none;
                background-color: white;
            }
        }
    }
}

.form-reservation{
    div{
        margin: 2vh 0;
        display: flex;
        flex-direction: column;
    }
    input, textarea{
        padding: 0.5rem 0.75rem;
        margin: 1vh 0;
        border: 1px solid #171717;
        background-color: #f5f5f5;

        &:focus{
            background-color: white;
            border: none;
        }
    }
    textarea{
        height: 20vh;
    }
    
    select{
        width: 100%;
    }

}

.form-contact{
    div{
        display: flex;
        flex-direction: column;
        margin: 2vh 0;

        input, textarea{
            padding: 0.75rem;
            background-color: rgb(38, 38, 38);
            color: #f5f5f5;
            border: 1px solid #f5f5f5;
            &:focus{
                box-shadow: 1px 1px 9px #f5f5f5;
            }
        }
    }
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

//HOME
#menu-menu .kategori-menu:nth-child(even) h3 {
    background-color: #171717;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    color: #f7f7f7;
    padding: 1px;
}
#menu-menu .kategori-menu:last-child{
    border: none;
}


//MENU
#modal-overlay{
    background-color: #1717171f;
    backdrop-filter: blur(4px);
    opacity: 0;
    transition: 0.2s all ease-in-out;
    visibility: hidden;
}

#modal-menu{
   visibility: hidden;
}

#modal-overlay.active{
    visibility: visible;
    opacity: 100;
}
#modal-menu.active{
    visibility: visible;
}

//MEDIA QUERY
@media (min-width: 768px){
    .form-reservation{
        div{
            justify-content: space-between;
            flex-direction: row;
            margin: 4vh 0;
            input, textarea{
                width: 50%;
            }
        }
        select {
            width: 50%;
        }
    }
}
@media (min-width: 1024px) {
    nav{
        display: flex;
        background-color: transparent;
        transform: translateY(0);
        opacity: 100%;
    }
}