<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAFE</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;600&family=Thasadith&display=swap"
      rel="stylesheet"
    />

    <!-- TAILWIND -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
            fontFamily: {
              darker: ["Darker Grotesque", "sans-serif"],
              thasadith: ["Thasadith", "sans-serif"],
            },
          },
        },
      };
    </script>
  </head>
  <body class="font-darker bg-neutral-100 text-neutral-900">
    <p>Halo {{ name }}, ini adalah data reservasi mu</p>
    {% comment %}
    <p>Silahkan klik konfirmasi untuk proses selanjutnya</p>
    {% endcomment %}

    <ul class="mt-2">
      Nama Pemesan :
      <b>{{ name }}</b>
    </ul>
    <ul>
      Telepon/WA :
      <b>{{ wa }}</b>
    </ul>
    <ul>
      Tanggal Acara :
      <b>{{ date }}</b>
    </ul>
    <ul>
      Waktu Acara :
      <b>{{ time }}</b>
    </ul>
    <ul>
      Dibuat pada :
      <b>{{ created }}</b>
    </ul>
    {% comment %}
    <ul>
      Sampai :
      <b>{{ until }}</b>
    </ul>
    {% endcomment %}
  </body>
</html>
